.modal {
	$self: &;
	box-sizing: border-box;
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(5px);	
	padding: 30px;
	align-items: center;
	overflow-y: auto;
	
	@include media('<=xxxs') {
		padding: 15px;
	}

	&[style*="display: block"] {
		display: flex !important;
	}

	&_error {
		#{$self}__content {
			&::after {
				content: 'Задайте id целевого блока в атрибуте data-modal';
			}
		}
	}

	&_self {
		padding: 110px 110px 50px;
		
		@include media('<=md') {
			padding: 110px 50px 50px;
		}
		
		@include media('<=xs') {
			padding: 110px 30px 30px;
		}
		
		@include media('<=xxxs') {
			padding: 110px 15px 15px;
		}

		#{$self}__content {
			display: flex;
			align-items: flex-start;
			border-bottom: 1px solid #c4c4c4;
			padding-bottom: 40px;
			max-height: 100%;
			
			@include media('<=lg') {
				flex-wrap: wrap;
				border: none;
				padding: 0;
			}
		
			.p-team__wrapper {
				width: 340px;
				flex-shrink: 0;
				margin: 0 40px 40px 0; 
				
				@include media('<=lg') {
					margin: 0 auto 40px; 
					width: 100%;
				}
				
				@include media('<=md') {
					margin: 0 auto 30px; 
				}
			}

			.p-team__image {
				text-align: left;
			}

			.p-team__text{
				box-sizing: border-box;
				display: block;
				font-size: 24px;
				line-height: 1.4;
				margin-bottom: 20px;
				
				@include media('<=lg') {
					margin: 0;
					padding-top: 40px;
					border-top: 1px solid #c4c4c4;
				}
				
				@include media('<=md') {
					padding-top: 30px;
				}
				
				@include media('<=xs') {
					font-size: 20px;
				}
				
				@include media('<=xxxs') {
					font-size: 16px;
				}
			}
		}

		#{$self}__close {
			top: -85px; right: -85px;
			width: 100px;
			height: 100px;
			border-radius: 50%;
			background-size: 40px 40px;
				
			@include media('<=md') {
				width: 55px;
				height: 55px;
				background-size: 21px 21px;
				top: -75px; right: 50%;
				transform: translateX(50%);
			}
		}

		#{$self}__body {
			padding: 80px 70px 85px;
			border-radius: 70px;
			
			@include media('<=md') {
				border-radius: 40px;
				padding: 50px;
				max-width: 600px;
			}
			
			@include media('<=xxs') {
				padding: 50px 30px 30px;
				border-radius: 30px;
			}
			
			@include media('<=xxxs') {
				padding: 30px 20px 20px;
			}
		}
	}
	
	&__close {
		position: absolute;
		cursor: pointer;
		top: 20px; right: 20px;
		width: 30px;
		height: 30px;
		background: url("images/icons-sprite.svg#icon-close-thin-view-black") center / 20px 20px no-repeat #fff;
		
		@include media('<=xxs') {
			top: 15px; right: 15px;
		}
	}

	&__body {
		@include slideInDown(
			$duration: 0.7s,
			$delay: 0s,
			$function: ease, 
			$fill: both			
		);
		box-sizing: border-box;
		position: relative;
		background-color: #fff;
		border-radius: 15px;
		margin: auto;
		padding: 60px 30px 50px;
		width: 100%;
		max-width: 1200px;
		box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.65);
		
		@include media('<=xxs') {
			padding: 60px 20px 50px;
		}
	}
	
	&__content {
		min-height: 200px;
		// max-height: calc(100vh - 160px);
		// overflow-y: auto;
		overflow: hidden;
	}
}
