.p-subscribe {
	$self: &;

	&__inner {
		margin-bottom: 70px;
		display: flex;
		justify-content: space-between;
	
		@include media('<=md') {
			flex-wrap: wrap;
		}
	}

	&__form {
		max-width: 800px;
		margin: 0 30px 60px 0;
		
		@include media('<=md') {
			max-width: none;
			margin: 0 0 60px 0;
		}
	}

	&__title {
		margin-bottom: 55px;
	}

	&__side {
		max-width: 460px;
		
		@include media('<=md') {
			display: flex;
			flex-wrap: wrap;
			max-width: none;
		}
		
		@include media('<=sm') {
			display: block;
		}
	}

	&__side-block {
		margin: 0 20px 50px 0;
		
		@include media('<=md') {
			width: calc(50% - 20px);
		}
		
		@include media('<=sm') {
			margin: 0 0 50px 0;
			width: 100%;
		}

		h3 {
			font-family: "RWBL", sans-serif;
			font-size: 30px;
			color: #112D32;
			line-height: 1.1;
			margin-bottom: 15px;
			
			@include media('<=xs') {
				font-size: 25px;
			}
		}

		p {
			font-size: 20px;
			line-height: 1.5;
		
			@include media('<=sm') {
				font-size: 18px;
			}
			
			@include media('<=xs') {
				font-size: 16px;
			}
		}
	}
}
