.button {
	$self: &;
	@extend %reset-button;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 240px;
	min-height: 70px;
	background-color: #008698;
	color: #fff;
	text-decoration: none;
	font-family: "GB", sans-serif;
	font-size: 20px;
	line-height: 1.0;
	text-transform: uppercase;
	text-align: center;
	padding: 16px 50px;
	border-radius: 100px;
	letter-spacing: 0.05em;
	transition: box-shadow 0.3s, text-shadow 0.3s;

	&:hover {
		text-shadow: 1px 1px 15px rgba(255, 255, 255), -1px -1px 15px rgba(255, 255, 255);
	}
	
	@include media('<=xs') {
		min-height: 40px;
		padding: 13px 25px;
		font-size: 13px;
	}
	
	&_white {
		background-color: #fff;
		font-family: "GBL", sans-serif;
		color: #000;
		
		&:hover {
			text-shadow: none;
			box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.75);
		}
	}
}
