.p-advantages {
	$self: &;

	&_decored {
		#{$self}__inner {
			position: relative;
		
			&::after {
				display: block;
				content: '';
				position: absolute;
				right: -29%;
				top: -150px;
				z-index: -1;
				width: 760px;
				height: 470px;
				background: url('#{$images-path}section-bg-2.png') left top / auto no-repeat transparent;
			}
		}
	}
	
	&__inner {
		margin-bottom: 120px;
		max-width: 1300px;

		@include media('<=sm') {
			margin: 0 0 50px;
		}
	}

	&__title {
		max-width: 720px;
		margin-bottom: 65px;
	}

	&__items {
		display: flex;
		justify-content: space-between;

		@include media('<=lg') {
			justify-content: flex-start;
			flex-wrap: wrap;
		}
	}

	&__item {
		max-width: 260px;
		margin: 0 30px 30px 0;
		font-size: 18px;
		line-height: 1.4;
		padding-top: 115px;
		background-position: left top;
		background-repeat: no-repeat;
		background-color: transparent;

		&:nth-child(1) {
			background-image: url('#{$images-path}icons-sprite.svg#icon-onion-view-black');
			background-size: 68px 68px;
		}

		&:nth-child(2) {
			background-image: url('#{$images-path}icons-sprite.svg#icon-reactor-view-black');
			background-size: 73px 68px;
		}
		
		&:nth-child(3) {
			background-image: url('#{$images-path}icons-sprite.svg#icon-flask-view-black');
			background-size: 69px 69px;
		}
		
		&:nth-child(4) {
			background-image: url('#{$images-path}icons-sprite.svg#icon-formula-view-black');
			background-size: 49px 69px;
		}

		@include media('<=xs') {
			background-position: left center;
			padding: 0 0 0 100px;
			margin-bottom: 80px;
		}
	}
}
