<footer class="footer"> 
	<div class="container">
		<div class="footer__inner">
			<nav class="footer__navi">
				<a class="footer__navi-link" href="./page.html">Company</a>
				<a class="footer__navi-link" href="./page2.html">Capabilities</a>
				<a class="footer__navi-link" href="./page3.html">Careers at CBM</a>
				<a class="footer__navi-link" href="./page4.html">Contact Us</a>
				<a class="footer__navi-link" href="./">News</a>
			</nav>
			<div class="footer__social social">
				<a class="social__item social__item_linkd" href="./">Linkedin</a>
				<!-- <a class="social__item social__item_twitr" href="./">Twitter</a> -->
				<!-- <a class="social__item social__item_instg" href="./">instagram</a> -->
			</div>
			<form class="footer__form form form_footer" action="./">
				<h3 class="form__title">Connect With Our Team</h3>
				<div class="form__field"><input type="text" name="name" placeholder="Name"></div>
				<div class="form__field"><input type="text" name="company" placeholder="Company"></div>
				<div class="form__field"><input type="text" name="email" placeholder="Email"></div>
				<button class="form__submit button button_white" type="submit">Connect</button>
			</form>
		</div>
		<div class="footer__copy"><strong>Center for Breakthrough Medicines</strong> | Copyright 2022</div>
	</div>
</footer> 
<script type="text/javascript" charset="utf-8" src="jquery.min.js"></script>
<script src="common.js"></script> 
</body> 
</html> 
