<header class="header @@if(this.class){@@class}" data-scroll-lock-fill-gap>
	<div class="header__inner">
		<a href="./" class="header__logo"><img src="./images/logo.png" alt=""></a>
		<navi class="header__navi">
			<a class="header__navi-link" href="./page.html">Company</a>
			<a class="header__navi-link" href="./page2.html">Capabilities</a>
			<a class="header__navi-link" href="./page3.html">Careers at CBM</a>
			<a class="header__navi-link" href="./contacts.html">Contact Us</a>
			<a class="header__navi-link" href="./">News</a>
		</navi>

		<div class="header__menu-blind" data-scroll-lock-scrollable>
			<ul class="header__menu menu">
				<li class="menu__item menu__item_haschild">
					<a class="menu__link" href="./page.html">Company</a>
					<ul class="menu__submenu">
						<li class="menu__item"><a class="menu__link" href="./page2.html">CBM: Mission, Vision & Values</a></li>
						<li class="menu__item"><a class="menu__link" href="./page3.html">CBM Difference</a></li>
						<li class="menu__item"><a class="menu__link" href="./page4.html">CMB Teams</a></li>
					</ul>
				</li>
				<li class="menu__item menu__item_haschild">
					<a class="menu__link" href="./page5.html">Capabilities</a>
					<ul class="menu__submenu">
						<li class="menu__item"><a class="menu__link" href="./page5.html">Process Development</a></li>
						<li class="menu__item"><a class="menu__link" href="./page6.html">Testing & Analytical</a></li>
						<li class="menu__item"><a class="menu__link" href="./page7.html">Viral Vector Manufacturing</a></li>
						<li class="menu__item"><a class="menu__link" href="./page8.html">Cell Therapy Manufacturing</a></li>
						<li class="menu__item"><a class="menu__link" href="./page9.html">Plasmid DNA</a></li>
						<li class="menu__item"><a class="menu__link" href="./">Cell Banking</a></li>
					</ul>
				</li>
				<li class="menu__item"><a href="./" class="menu__link">Careers at CBM</a></li>
				<li class="menu__item"><a href="./contacts.html" class="menu__link">Contact Us</a></li>
			</ul>
		</div>

		<div class="header__menu-toggle">
			<button>
				<span>Close</span>
				<span>Discover more</span>
			</button>
		</div>
	</div>
</header> 
