<header class="header"> 
	<div class="header__inner">
		<a href="./" class="header__logo"><img src="" alt=""></a>
		<navi class="header__navi">
			<a href="./" class="header__navi-link">Company</a>
			<a href="./" class="header__navi-link">Capabilities</a>
			<a href="./" class="header__navi-link">Careers at CBM</a>
			<a href="./" class="header__navi-link">Contact Us</a>
		</navi>

		<div class="header__menu-blind">
			<ul class="header__menu menu">
				<li class="menu__item menu__item_haschild">
					<a class="menu__link" href="./">Company</a>
					<ul class="menu__submenu">
						<li class="menu__item"><a class="menu__link" href="./">CBM: Mission, Vision & Values</a></li>
						<li class="menu__item"><a class="menu__link" href="./">CBM Difference</a></li>
						<li class="menu__item menu__item_haschild">
							<a class="menu__link" href="./">CMB Teams</a>
							<ul class="menu__submenu">
								<li class="menu__item"><a class="menu__link" href="./">Management Teams</a></li>
								<li class="menu__item"><a class="menu__link" href="./">Board of Directors & Advisory Teams</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="menu__item menu__item_haschild">
					<a class="menu__link" href="./">Capabilities</a>
					<ul class="menu__submenu">
						<li class="menu__item"><a class="menu__link" href="./">Process Development</a></li>
						<li class="menu__item"><a class="menu__link" href="./">Testing & Analytical</a></li>
						<li class="menu__item menu__item_haschild">
							<a class="menu__link" href="./">Viral Vector Manufacturing</a>
							<ul class="menu__submenu">
								<li class="menu__item"><a class="menu__link" href="./">Adeno-Associated Virus</a></li>
								<li class="menu__item"><a class="menu__link" href="./">Lentivirus</a></li>
								<li class="menu__item"><a class="menu__link" href="./">Adenovirus</a></li>
							</ul>
						</li>
						<li class="menu__item"><a class="menu__link" href="./">Cell Therapy Manufacturing</a></li>
						<li class="menu__item"><a class="menu__link" href="./">Plasmid DNA</a></li>
						<li class="menu__item"><a class="menu__link" href="./">Cell Banking</a></li>
					</ul>
				</li>
				<li class="menu__item"><a href="./" class="menu__link">Careers at CBM</a></li>
				<li class="menu__item"><a href="./" class="menu__link">Contact Us</a></li>
			</ul>
		</div>

		<button class="header__menu-toggle">
			<span>Close</span>
			<span>Discover more</span>
		</button>
	</div>
</header> 
