<header class="header @@if(this.class){@@class}" data-scroll-lock-fill-gap>
  <div class="header__inner">
    <a href="./" class="header__logo"><img src="./images/logo.png" alt="" /></a>
    <navi class="header__navi">
      <!-- <a class="header__navi-link" href="./mission.html">Company</a> -->
      <!-- <a class="header__navi-link" href="./page2.html">Capabilities</a> -->
      <!-- <a class="header__navi-link" href="./page3.html">Careers at CBM</a> -->
      <a class="header__navi-link" href="./contacts.html">Contact Us</a>
      <!-- <a class="header__navi-link" href="./page13.html">News</a> -->
    </navi>

    <div class="header__menu-blind" data-scroll-lock-scrollable>
      <ul class="header__menu menu">
        <li class="menu__item menu__item_haschild">
          <a class="menu__link" href="./">Company</a>
          <ul class="menu__submenu">
            <li class="menu__item">
              <a class="menu__link" href="./mission.html"
                >CBM: Mission, Vision & Values</a
              >
            </li>
            <li class="menu__item">
              <a class="menu__link" href="./">CBM Difference</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="./page9.html">CBM Teams</a>
            </li>
          </ul>
        </li>
        <li class="menu__item menu__item_haschild">
          <a class="menu__link" href="./">Capabilities</a>
          <ul class="menu__submenu">
            <li class="menu__item">
              <a class="menu__link" href="./page10.html">Process Development</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="./page11.html"
                >Testing & Analytical</a
              >
            </li>
            <li class="menu__item">
              <a class="menu__link" href="./page12.html"
                >Viral Vector Manufacturing</a
              >
            </li>
            <li class="menu__item">
              <a class="menu__link" href="./">Cell Therapy Manufacturing</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="./">Plasmid DNA</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="./">Cell Banking</a>
            </li>
          </ul>
        </li>
        <li class="menu__item">
          <a href="./page13.html" class="menu__link">Careers at CBM</a>
        </li>
        <li class="menu__item">
          <a href="./contacts.html" class="menu__link">Contact Us</a>
        </li>
      </ul>
    </div>

    <div class="header__menu-toggle">
      <button>
        <span>Close</span>
        <span>Discover more</span>
      </button>
    </div>
  </div>
</header>
