.h-links {
	$self: &;
	border-left: 1px solid #fff;

	&__link {
		display: block;
		text-decoration: none;
		color: #fff;
		font-family: "RB", sans-serif;
		font-size: 20px;
		letter-spacing: 0.03em;
		padding: 0 20px 20px;
		transition: text-shadow 0.3s;

		&:hover {
			text-shadow: 1px 1px 15px rgba(255, 255, 255), -1px -1px 15px rgba(255, 255, 255);
		}

		&:last-child {
			padding-bottom: 5px;
		}

		@include media('<=xxs') {
			font-size: 18px;
		}

		@include media('<=xxxs') {
			font-size: 17px;
		}
	}
}
