.i-tiles {
	$self: &;
	margin-bottom: 100px;

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -70px;
	}
	
	&__item {
		padding-top: 40px;
		margin: 0 70px 70px;
		width: calc(99.9% / 12 * 6 - 140px);
		border-top: 1px solid #C4C4C4;
	}

	&__title {
		margin-bottom: 20px;

		&_link {
			
			&::after {
				display: inline-block;
				content: '';
				width: 36px;
				height: 36px;
				border-radius: 50%;
				margin: 0 0 5px 10px;
				vertical-align: middle;
				background: url('#{$images-path}icons-sprite.svg#icon-arr-link-view-white') center / 19px 19px no-repeat #18325B;
			}
		}
	}

	&__text {

		a {
			display: inline-block;
			color: #0788FF;
			font-family: "RBB", sans-serif;
		}
	}
}
