.home {
	$self: &;
	box-sizing: border-box;
	background-color: #387381;
	
	&__slider {
		height: 100vh;
		
		&.swiper {

			@include media('<=md') {
				height: auto;
				overflow: visible;
			}
		
			.swiper-wrapper {
				height: 100%;

				@include media('<=md') {
					transform: none !important;
					display: block;	
					position: static;
					height: auto;
				}
			}
		}
	}
	
	&__page {
		box-sizing: border-box;
		height: 100%;
		display: flex;
		align-items: center;
		padding: 110px 20px 20px 40px;
		color: #fff;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center right;
		
		@include media('<=md') {
			height: auto !important;
			display: block;
			padding: 120px 20px;
		}
		
		@include media('<=xxs') {
			padding: 100px 20px;
		}

		&_first {

			@include media('<=md') {
				padding: 200px 20px 60px;
			}
			
			@include media('<=xxs') {
				padding: 160px 20px 60px;
			}

			#{$self}__main {
				margin-left: 9%;
				max-width: 465px;

				@include media('<=xlg') {
					margin: 0;				
				}

				@include media('<=md') {
					max-width: none;
					margin-bottom: 80px;
				}
			}

			#{$self}__text {
				
				@include media('<=md') {
					max-width: 500px;
				}
			}

			#{$self}__side {
				max-width: 270px;
				margin: 0 -20px 0 auto;
			
				@include media('<=md') {
					max-width: none;
					margin: 0;
				}
			}
		}

		&_second {

			#{$self}__main {
				margin-left: 9%;

				@include media('<=xlg') {
					margin: 0;
				}
				
				@include media('<=md') {
					max-width: none;
					margin-bottom: 100px;
				}
			}

			#{$self}__title {
				max-width: 380px;
				
				@include media('<=md') {
					max-width: 600px;
				}
			}

			#{$self}__text {
				max-width: 465px;
			}

			#{$self}__side {
				margin: 12% 0 0 70px;
				
				@include media('<=md') {
					margin: 0;
				}
			}
		}

		&_thrid {
			justify-content: space-evenly;

			#{$self}__title {
				max-width: 400px;
				
				@include media('<=md') {
					max-width: none;
				}
			}

			#{$self}__main {
				margin-right: 50px;
			}

			#{$self}__side {
				max-width: 550px;
				max-height: 590px;

				@include media('<=md') {
					max-width: 100%;
				}
			}
		}

		&_four {
					
			@include media('<=xxs') {
				padding-bottom: 20px;
			}
	
			#{$self}__main {
				margin-left: 9%;
				margin-right: 50px;
				
				@include media('<=xlg') {
					margin-left: 0;
				}
				
				@include media('<=md') {
					margin: 0 0 120px 0;
				}
				
				@include media('<=sm') {
					min-width: auto;
				}
			}

			#{$self}__title {
				max-width: 680px;
				margin-bottom: 50px;
				
				@include media('<=xlg') {
					margin-bottom: 10px;
				}
				
				@include media('<=sm') {
					max-width: none;
				}
			}

			#{$self}__side {
				margin-left: auto;
				align-self: flex-end;
	
				@include media('<=lg') {
					align-self: center;
				}
			}
		}
	}

	&__main {
		margin-bottom: 55px;
		max-width: 800px;
	}

	&__title {
		font-family: "RWBL", sans-serif;
		font-size: 55px;
		line-height: 1.1;
		margin-bottom: 30px;
		
		@include media('<=xxs') {
			font-size: 40px;
		}
					
		@include media('<=xs') {
			font-size: 35px;
		}
	}

	&__text {
		font-size: 20px;
		line-height: 1.5;
		margin-bottom: 45px;
		
		@include media('<=xxs') {
			font-size: 17px;
		}
		
		@include media('<=xxxs') {
			font-size: 15px;
		}
	}

	&__button {
		box-sizing: border-box;
		display: block;
		width: 100%;
		max-width: 355px;
		background-color: #fff;
		color: #000;
		padding: 16px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		border-radius: 100px;
		font-size: 14px;
		font-family: "MB", sans-serif;
		
		@include media('<=xxs') {
			padding: 11px;
			font-size: 13px;
			max-width: 270px;
		}
	}

	&__side {

	}

	&__tiles {

	}
}
