.title {
	$self: &;
	font-family: "RWBL", sans-serif;
	font-size: 80px;
	color: #112D32;
	line-height: 1.2;

	@include media('<=xxlg') {
		font-size: 70px;
	}

	@include media('<=xlg') {
		font-size: 60px;
	}

	@include media('<=sm') {
		font-size: 50px;
	}

	@include media('<=xxs') {
		font-size: 40px;
	}

	&_subtitle {
		font-size: 55px;
		line-height: 1.1em;
		
		@include media('<=xxlg') {
			font-size: 50px;
		}
		
		@include media('<=xlg') {
			font-size: 45px;
		}

		@include media('<=md') {
			font-size: 40px;
		}

		@include media('<=xxs') {
			font-size: 30px;
		}
	}

	&_small {
		font-size: 36px;
		
		@include media('<=md') {
			font-size: 30px;
		}
		
		@include media('<=xs') {
			font-size: 26px;
		}
	}
	
	/* span {
		display: block;
		font-family: "RBL", sans-serif;
		font-size: 50px;
		padding-top: 20px;
		line-height: 1.2;
		
		@include media('<=xxlg') {
			font-size: 45px;
		}
		
		@include media('<=xlg') {
			font-size: 40px;
		}

		@include media('<=sm') {
			font-size: 30px;
		}

		@include media('<=xxs') {
			font-size: 20px;
		}
	} */
}
