.p-teasers {
	$self: &;

	@include media('<=xs') {
		margin: 0 0 100px;
	}

	&__inner {
		position: relative;

		&::after {
			display: block;
			content: '';
			position: absolute;
			right: -29%;
			top: calc(100% - 150px);
			z-index: -1;
			width: 760px;
			height: 470px;
			background: url('#{$images-path}section-bg-2.png') left top / auto no-repeat transparent;
		}
	}

	&__title {
		max-width: 870px;
		margin-bottom: 80px;
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 -20px;

		@include media('<=sm') {
			display: block;
			margin: 0;
		}
	}

	&__item {
		margin: 0 20px 100px;
		width: calc(50% - 40px);
		display: flex;
		// @include outline();

		@include media('<=sm') {
			display: block;
			margin: 0 0 100px;
			width: 100%;
		}

		@include media('<=xs') {
			margin: 0 0 50px;
		}
		
		&:nth-child(2n) {
			#{$self}__item-wrapper {
				margin-left: auto;

				@include media('<=sm') {
					margin: 0;
				}
			}
		}
	}
	
	&__item-wrapper {
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-start;
		max-width: 450px;
		
		@include media('<=sm') {
			display: block;
			margin: 0;
			max-width: 600px;
		}
	}
	
	&__item-title {
		max-width: 300px;
		font-family: "RWBL", sans-serif;
		font-size: 30px;
		line-height: 1.0;
		color: #112D32;
		margin-bottom: 15px;
		
		@include media('<=sm') {
			font-size: 25px;
			max-width: none;
		}
		
		@include media('<=xs') {
			font-size: 20px;
			max-width: none;
		}
	}

	&__item-text {
		font-size: 20px;
		line-height: 1.5;
		margin-bottom: 20px;
		
		@include media('<=sm') {
			font-size: 18px;
		}
		
		@include media('<=xs') {
			font-size: 16px;
		}
	}

	&__item-more {
		margin-top: auto;

		@include media('<=xs') {
			display: block;
			max-width: 160px;
			text-align: center;
			margin-left: auto;
		}
	}
}
