.m-subscribe {
	$self: &;
	background: url('#{$images-path}subscribe-bg.png') center / cover no-repeat transparent;
	padding: 110px 0;

	&__inner {
		display: flex;
		justify-content: space-between;
	
		@include media('<=md') {
			flex-wrap: wrap;
		}
	}

	&__form {
		max-width: 800px;
		margin: 0 30px 0 0;
		
		@include media('<=md') {
			max-width: none;
			margin: 0 0 60px 0;
		}
	}

	&__title {
		margin-bottom: 55px;
		
		&.title {
			color: #fff;
		}
	}

	&__side {
		max-width: 560px;
		
		@include media('<=md') {
			display: flex;
			flex-wrap: wrap;
			max-width: none;
		}
		
		@include media('<=sm') {
			display: block;
		}
	}

	&__side-block {
		margin-bottom: 30px;
		color: #fff;

		h3 {
			font-family: "RWBL", sans-serif;
			font-size: 36px;
			line-height: 1.2;
			color: #fff;
			margin-bottom: 15px;
			
			@include media('<=md') {
				font-size: 30px;
			}
			
			@include media('<=xxs') {
				font-size: 24px;
			}
		}

		p {
			line-height: 1.5;
			font-size: 24px;
			
			@include media('<=sm') {
				font-size: 20px;
			}
			
			@include media('<=xxs') {
				font-size: 18px;
			}
			
			@include media('<=xxxs') {
				font-size: 16px;
			}
		}
	}
}
