.m-facility {
	$self: &;
	margin-bottom: 120px;

	&_decor-1 {
		position: relative;

		&::before {
			display: block;
			content: '';
			width: 675px;
			height: 420px;
			position: absolute;
			bottom: -200px;
			left: -140px;
			z-index: -1;
			background: url('#{$images-path}section-bg-1.png') left top / auto no-repeat transparent;
		}
	}

	&__inner {

	}

	&__title {
		margin-bottom: 110px;
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -12px;
	}

	&__item {
		box-sizing: border-box;
		font-size: 24px;
		text-align: center;
		background-color: #EDF3F4;
		margin: 0 6px 12px;
		padding: 90px 30px 35px;
		border-radius: 57px;
		width: calc(99.9% / 12 * 4 - 12px);
		
		@include media('<=lg') {
			margin: 0 6px 12px;
			width: calc(99.9% / 12 * 6 - 12px);
		}
		
		@include media('<=sm') {
			font-size: 18px;
		}
		
		@include media('<=xs') {
			border-radius: 40px;
			padding: 50px 30px 35px;
			margin: 0 6px 12px;
			width: calc(99.9% / 12 * 12 - 12px);
		}

		&::before {
			display: block;
			content: '';
			width: 125px;
			height: 125px;
			margin: 0 auto 55px;
			background-position: center;
			background-repeat: no-repeat;
			
			@include media('<=xs') {
				margin: 0 auto 40px;
			}
		}

		&_multy::before {
			background-image: url('#{$images-path}icons-sprite.svg#icon-facility-1-view-black');
		}

		&_controls::before {
			background-image: url('#{$images-path}icons-sprite.svg#icon-facility-2-view-black');
		}

		&_ahu::before {
			background-image: url('#{$images-path}icons-sprite.svg#icon-facility-6-view-black');
			background-size: 175px 58px;
			width: 175px;
		}
		
		&_high::before {
			background-image: url('#{$images-path}icons-sprite.svg#icon-facility-3-view-black');
			background-size: 125px 90px;
		}

		&_buffers::before {
			background-image: url('#{$images-path}icons-sprite.svg#icon-facility-4-view-black');
		}

		&_locations::before {
			background-image: url('#{$images-path}icons-sprite.svg#icon-facility-5-view-black');
		}
	}
}
