.m-form {
	$self: &;

	&__field {
		box-sizing: border-box;
		border: 1px solid #fff;
		width: 100%;
		margin-bottom: 20px;
		min-height: 70px;
		display: flex;
		padding: 10px 35px;
		border-radius: 10px;
		transition: box-shadow 0.3s;
		
		@include media('<=lg') {
			min-height: 48px;
			padding: 12px 20px;
		}
		
		@include media('<=sm') {
			margin-bottom: 25px;
		}
		
		@include media('<=xs') {
			min-height: 40px;
			padding: 9px 20px;
		}

		input, textarea {
			@extend %reset-input;
			width: 100%;
			color: #fff;
			font-size: 30px;
			
			@include media('<=sm') {
				font-size: 20px;
			}
				
			&::placeholder {
				color: #fff;
			}
		}
	}

	&__submit {
		margin-top: 40px;
	}
}
