.footer {
	$self: &;
	padding: 80px 0 20px;
	background: url('#{$images-path}footer-bg.png') center left / cover no-repeat #6D8F96;
	color: #fff;

	@include media('<=xxxlg') {
		background-size: auto;
	}
	
	@include media('<=sm') {
		background-size: cover;
	}

	&__inner {
		display: flex;
		margin-bottom: 70px;

		@include media('<=sm') {
			flex-wrap: wrap;
		}
	}

	&__navi {
		margin-right: 130px;

		@include media('<=md') {
			margin: 0 60px 0 0;
		}

		@include media('<=sm') {
			margin: 0 120px 50px 0;
		}
	}

	&__navi-link {
		padding-top: 10px;
		display: block;
		color: #fff;
		text-decoration: none;
		font-family: "MSB", sans-serif;
		font-size: 15px;
		text-transform: uppercase;
		margin-bottom: 35px;
		white-space: nowrap;
		transition: text-shadow 0.3s;

		&:hover {
			text-shadow: 1px 1px 15px rgba(255, 255, 255), -1px -1px 15px rgba(255, 255, 255);
		}
	}
	
	&__social {
		margin-right: 60px;

		@include media('<=sm') {
			margin: 0 0 50px 0;
		}
	}
	
	&__form {
		margin-left: auto;
		max-width: 500px;
		width: 100%;
		
		@include media('<=sm') {
			margin-left: 0;
		}
	}
	
	&__copy {
		font-family: "MR", sans-serif;
		
		strong {
			font-family: "MB", sans-serif;
		}
	}
}
