.footer {
	$self: &;
	padding: 90px 0 50px;
	background: url('#{$images-path}footer-bg.png') center left / cover no-repeat #6D8F96;
	color: #fff;

	@include media('<=xxxlg') {
		background-size: auto;
	}
	
	@include media('<=sm') {
		background-size: cover;
	}

	&__inner {
		display: flex;
		margin-bottom: 50px;

		@include media('<=sm') {
			flex-wrap: wrap;
		}
	}

	&__navi {
		margin-right: 130px;

		@include media('<=md') {
			margin: 0 60px 0 0;
		}

		@include media('<=sm') {
			margin: 0 120px 50px 0;
		}
	}

	&__navi-link {
		flex-shrink: 0;
		padding-top: 10px;
		display: block;
		color: #fff;
		text-decoration: none;
		font-family: "MSB", sans-serif;
		font-size: 15px;
		text-transform: uppercase;
		margin-bottom: 35px;
		white-space: nowrap;
		transition: text-shadow 0.3s;

		&:hover {
			text-shadow: 1px 1px 15px rgba(255, 255, 255), -1px -1px 15px rgba(255, 255, 255);
		}
	}
	
	&__social {
		margin-right: 60px;

		@include media('<=sm') {
			margin: 0 0 50px 0;
		}
	}
	
	&__form {
		margin-left: auto;
		max-width: 500px;
		width: 100%;
		
		@include media('<=sm') {
			margin-left: 0;
		}
	}

	&__left {
		margin-right: auto;

		@include media('<=xs') {
			margin-bottom: 40px;
			width: 100%;
		}
	}

	&__logo {
		display: block;
		margin-bottom: 30px;
	}

	&__address {
		color: #fff;
		text-decoration: none;
		font-family: "MSB", sans-serif;
		font-size: 15px;
		text-transform: uppercase;

		span {
			display: block;
			margin-bottom: 5px;
		}
	}

	&__side {

	}
	
	&__side-title {
		font-family: "MSB", sans-serif;
		font-size: 19px;
		margin-bottom: 25px;

		@include media('<=xs') {
			display: none;
		}
	}
	
	&__side-links {
		display: flex;
	}

	&__side-contact {
		box-sizing: border-box;
		padding: 10px;
		height: 58px;
		min-width: 180px;
		border-radius: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #fff;
		font-family: "MB", sans-serif;
		text-transform: uppercase;
		color: #000;
		text-decoration: none;
		margin-right: 20px;
	}

	&__side-linkd {
		display: block;
		text-decoration: none;
		width: 58px;
		height: 58px;
		border-radius: 50%;
		background: url('#{$images-path}icons-sprite.svg#icon-soc-linked-view-dark') center top 11px / 32px 32px no-repeat #fff;
	}
	
	&__copy {
		font-family: "MR", sans-serif;
		
		strong {
			font-family: "MB", sans-serif;
		}
	}
}
