.p-layout {
	$self: &;

	&_materials {
		margin-bottom: 80px;
	}

	&_decor-1 {
		position: relative;

		&::before {
			display: block;
			content: '';
			width: 675px;
			height: 420px;
			position: absolute;
			top: -110px;
			right: -150px;
			z-index: -1;
			background: url('#{$images-path}section-bg-1.png') left top / auto no-repeat transparent;
		}
	}

	&__section {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;

		&:nth-child(even) {
			
			#{$self}__image {
				order: -1;
				transform: translateX(-28%);
				margin: 0 -28% 0 0;
				
				@include media('<=xxxlg') {
					transform: translateX(-20%);
					margin: 0 -20% 0 0;
				}
				
				@include media('<=xxlg') {
					transform: translateX(-10%);
					margin: 0 -10% 0 0;
				}
			}
		}
	}

	&__side {
		max-width: 50%;
		position: relative;
		z-index: 1;

		@include media('<=sm') {
			max-width: none;
		}
	}

	&__image {
		position: relative;
		transform: translateX(28%);
		margin: 0 0 0 -28%;

		&::after {
			display: none;
			content: '';
			width: 675px;
			height: 420px;
			position: absolute;
			right: 40%;
			top: calc(100% - 200px);
			z-index: -1;
			background: url('#{$images-path}section-bg-1.png') left top / auto no-repeat transparent;
		}
		
		&_up {
			align-self: flex-start;
		}

		&_plain {
			transform: none !important;
			margin: 0 !important;
		}

		&_shift-1 {
			margin-top: -700px;
		}

		&_decor-1::after {
			display: block;
		}

		&_decor-2::after {
			display: block;
			left: 55%;
			top: calc(100% - 230px);
		}

		&_decor-3::after {
			display: block;
			right: auto;
			left: -280px;
			top: -210px;
		}

		&_decor-4::after {
			display: block;
			background-image: url('#{$images-path}section-bg-3.png');
			right: 30px;
			top: calc(100% - 200px);
		}
		
		&_decor-5::after {
			display: block;
			top: calc(100% - 30px);
			right: 20%;
		}

		&_decor-6::after {
			display: block;
			right: 50%;
			top: auto;
			bottom: -150px;
		}
			
		@include media('<=xxxlg') {
			transform: translateX(20%);
			margin: 0 0 0 -20%;
		}
				
		@include media('<=xxlg') {
			transform: translateX(10%);
			margin: 0 0 0 -10%;
		}
				
		@include media('<=xxlg') {
			max-width: 650px;
			flex-shrink: 0;
		}
		
		@include media('<=xlg') {
			max-width: 550px;
		}
		
		@include media('<=lg') {
			max-width: 400px;
		}
		
		@include media('<=sm') {
			display: none !important;
		}
	}

	&__text {
		max-width: 1150px;
	}
}
