.p-layout {
	$self: &;

	&_materials {
		margin-bottom: 80px;
	}

	&_shift-1 {
		margin-top: -140px;
		
		@include media('<=xlg') {
			margin-top: -100px;
		}

		@include media('<=lg') {
			margin-top: 0;
		}
	}

	&_decor-1 {
		position: relative;

		&::before {
			display: block;
			content: '';
			width: 675px;
			height: 420px;
			position: absolute;
			top: -110px;
			right: -150px;
			z-index: -1;
			background: url('#{$images-path}section-bg-1.png') left top / auto no-repeat transparent;
		}
	}

	&_decor-2 {
		position: relative;

		&::after {
			display: block;
			content: '';
			width: 675px;
			height: 420px;
			position: absolute;
			bottom: -175px;
			right: -150px;
			z-index: -1;
			background: url('#{$images-path}section-bg-3.png') left top / auto no-repeat transparent;
		}
	}

	&__section {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 70px;
		
		&_no-bottom {
			margin-bottom: 0;
		}

		&_equal {
			#{$self}__side {
				width: 50%;
			}
			
			#{$self}__image {
				width: 50%;
			}
		}
		
		@include media('<=sm') {
			margin-bottom: 0;
		}

		&:nth-child(even) {
			
			#{$self}__image {
				order: -1;
				// transform: translateX(-28%);
				// margin: 0 -28% 0 0;
				
				img {
					transform: translateX(-60px);
				}
				
				@include media('<=xxxlg') {
					// transform: translateX(-20%);
					// margin: 0 -20% 0 0;
				}
				
				@include media('<=xxlg') {
					// transform: translateX(-10%);
					// margin: 0 -10% 0 0;
				}
			}

			#{$self}__side {
				padding: 0 0 0 70px;

				@include media('<=xlg') {
					padding: 0 0 0 50px;
				}

				@include media('<=lg') {
					padding: 0 0 0 30px;
				}
			}
		}
	}

	&__side {
		box-sizing: border-box;
		// max-width: 50%;
		width: calc(50% - 50px);
		position: relative;
		z-index: 1;
		padding: 0 70px 0 0;
		
		@include media('<=xlg') {
			width: 55%;
			padding: 0 50px 0 0;
		}
		
		@include media('<=lg') {
			padding: 0 30px 0 0;
		}

		@include media('<=sm') {
			// max-width: none;
			width: 100% !important;
			padding: 0 !important;
		}
	}

	&__image {
		box-sizing: border-box;
		position: relative;
		// transform: translateX(28%);
		// margin: 0 0 0 -28%;
		width: calc(50% + 50px);

		img {
			max-width: calc(100% + 60px);
		}


		&::after {
			display: none;
			content: '';
			width: 675px;
			height: 420px;
			position: absolute;
			right: 40%;
			top: calc(100% - 200px);
			z-index: -1;
			background: url('#{$images-path}section-bg-1.png') left top / auto no-repeat transparent;
		}
		
		&_up {
			align-self: flex-start;
		}

		&_plain {
			text-align: center;

			img {
				max-width: 100%;
				transform: none !important;
			}
			// margin: 0 !important;
		}

		&_shift-1 {
			margin-top: -700px;
		}

		&_decor-1::after {
			display: block;
		}

		&_decor-2::after {
			display: block;
			left: 55%;
			top: calc(100% - 230px);
		}

		&_decor-3::after {
			display: block;
			right: auto;
			left: -280px;
			top: -210px;
		}

		&_decor-4::after {
			display: block;
			background-image: url('#{$images-path}section-bg-3.png');
			right: 30px;
			top: calc(100% - 200px);
		}
		
		&_decor-5::after {
			display: block;
			top: calc(100% - 30px);
			right: 20%;
		}

		&_decor-6::after {
			display: block;
			right: 50%;
			top: auto;
			bottom: -150px;
		}

		&_decor-7::after {
			display: block;
			right: 50px;
			top: -210px;
		}

		&_decor-8::after {
			display: block;
			z-index: 1;
			right: 320px;
			top: -130px;
			background-image: url('#{$images-path}section-bg-3.png');

			@include media('<=lg') {
				display: none;
			}
		}
			
		@include media('<=xxxlg') {
			// transform: translateX(20%);
			// margin: 0 0 0 -20%;
		}
				
		@include media('<=xxlg') {
			// transform: translateX(10%);
			// margin: 0 0 0 -10%;
			// max-width: 650px;
			flex-shrink: 0;
		}
		
		@include media('<=xlg') {
			// max-width: 550px;
			width: 45%;
		}
		
		@include media('<=lg') {
			// max-width: 400px;
		}
		
		@include media('<=sm') {
			display: none !important;
		}
	}

	&__text {
		max-width: 1150px;
	}
}
