.d-down {
	$self: &;
	position: relative;
	border: 1px solid black;
	border-radius: 10px;
	padding: 15px 30px;
	background: url('#{$images-path}icons-sprite.svg#icon-arr-down-view-dark') center right 20px / 37px 21px no-repeat transparent;
				
	@include media('<=lg') {
		background-size: 22px 12px;
	}
			
	@include media('<=xxs') {
		padding: 15px;
	}

	&_opened {
		#{$self}__items {
			display: block;
		}
	}

	&__head {
		font-size: 30px;
		display: block;
		cursor: pointer;
				
		@include media('<=lg') {
			font-size: 24px;
		}
				
		@include media('<=xxs') {
			font-size: 20px;
		}
	}

	&__items {
		display: none;
		overflow: hidden;
		background-color: #fff;
		border: 1px solid black;
		border-radius: 0 0 10px 10px;
		border-top: none;
		padding: 15px 0;
		position: absolute;
		z-index: 2;
		left: -1px;
		width: 100%;

		@keyframes items_fade {
			from {opacity: 0;}
			to {opacity: 1;}
		}
		animation: items_fade 0.5s ease;
	}

	&__item {
		font-size: 30px;
		color: #999;
					
		@include media('<=lg') {
			font-size: 24px;
		}
				
		@include media('<=xxs') {
			font-size: 20px;
		}

		input[type="checkbox"] {
			display: none;
			
			&:checked + span {
				background-color: #ddd;
				color: #000;
			}
		}
		
		span {
			display: block;
			padding: 5px 30px;
			// margin: 0 -15px;
			
			@include media('<=xxs') {
				padding: 5px 15px;
			}
		}
	}
}
