.layout-3 {
	$self: &;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
	margin-bottom: 30px;

	&::after {
		display: block;
		content: '';
		position: absolute;
		right: 15px;
		bottom: -15px;
		z-index: -1;
		width: 760px;
		height: 470px;
		background: url('#{$images-path}section-bg-1.png') left top / auto no-repeat transparent;
	}

	&__side {
		max-width: 690px;
		
		&.t-block {
			.t-block__title {
				margin-bottom: 70px;

				@include media('<=sm') {
					max-width: none;
				}
			}
			
			.t-block__text p {
				margin-bottom: 60px;
			}
		}
		
		@include media('<=xlg') {
			max-width: 600px;
		}
		
		@include media('<=sm') {
			max-width: none;
		}
	}

	&__image {
		transform: translateX(33%);
		margin-left: -50px;
		
		@include media('<=xxxlg') {
			transform: translateX(10%);
		}
		
		@include media('<=xxlg') {
			max-width: 650px;
			flex-shrink: 0;
		}
		
		@include media('<=xlg') {
			max-width: 570px;
		}
		
		@include media('<=lg') {
			max-width: 450px;
		}
		
		@include media('<=sm') {
			display: none;
		}
	}
}
