.i-list {
	$self: &;
	font-family: "RBM", sans-serif;
	line-height: 1.7;
	font-size: 18px;
	
	@include media('<=xxs') {
		font-size: 16px;
	}

	&__item {
		box-sizing: border-box;
		padding: 0 40px 0 35px;
		margin-bottom: 35px;
		position: relative;
		
		@include media('<=xxs') {
			margin-bottom: 20px;
		}

		&::before {
			display: block;
			content: '';
			width: 13px;
			height: 13px;
			border-radius: 50%;
			background-color: #6E9399;
			position: absolute;
			left: 0;
			top: 8px;
		}
	}
}
