.menu {
	$self: &;
	padding: 100px 0 0 65px;
	max-width: 460px;
	margin-right: 30px;

	&__item {
		display: block;
		font-family: "MB", sans-serif;
		font-size: 23px;
		padding: 12px 0;
		
		&_haschild {
			
			#{$self}__item {
				box-sizing: border-box;
				font-family: "MR", sans-serif;
				font-size: 15px;
				
				&::after {
					display: block;
					content: '';
					// width: 100%;
					margin-left: -65px;
					height: 1px;
					background-color: rgba(255, 255, 255, 0.5);
				}
			}
		}
	}

	&__link {
		display: block;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
	}

	&__submenu {
		display: none;
		padding-top: 12px;
			
		#{$self}__link {
			padding-bottom: 22px;
		}
	}
}
