.c-social {
	$self: &;
	display: flex;

	&__item {
		width: 58px;
		height: 58px;
		margin-right: 25px;
		border-radius: 50%;

		&_fb {
			background: url('#{$images-path}icons-sprite.svg#icon-fb-view-white') center / 19px 34px no-repeat #000;
		}
		
		&_in {
			background: url('#{$images-path}icons-sprite.svg#icon-soc-linked-view-white') center top 12px / 32px 29px no-repeat #000;
		}
		
		&_tw {
			background: url('#{$images-path}icons-sprite.svg#icon-soc-twitter-view-white') center / 27px 23px no-repeat #000;
		}
	}
}