.c-social {
	$self: &;
	display: flex;
	padding-top: 20px;

	&__item {
		width: 41px;
		height: 41px;
		margin-right: 25px;
		border-radius: 5px;

		&_fb {
			background: url('#{$images-path}icons-sprite.svg#icon-fb-view-white') right 9px bottom / 19px 34px no-repeat #000;
		}
		
		&_in {
			background: url('#{$images-path}icons-sprite.svg#icon-soc-linked-view-white') center bottom 8px / 26px 25px no-repeat #000;
		}
		
		&_tw {
			background: url('#{$images-path}icons-sprite.svg#icon-soc-twitter-view-white') center / 27px 23px no-repeat #000;
		}
	}
}
