.layout-2 {
	$self: &;
	position: relative;
	margin-top: -270px;
	
	@include media('<=xxxlg') {
		margin-top: -100px;
	}
	
	@include media('<=xlg') {
		margin-top: 0px;
	}

	&::before {
		display: block;
		content: '';
		position: absolute;
		right: -35%;
		top: calc(100% - 45px);
		z-index: -1;
		width: 760px;
		height: 470px;
		background: url('#{$images-path}section-bg-1.png') left top / auto no-repeat transparent;
	}

	&__top {
		max-width: 610px;
		margin-bottom: 60px;

		h2 {
			margin-bottom: 20px;
		}

		p {
			font-size: 18px;
			line-height: 1.4;
		}
	}

	&__section {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;

		&:nth-child(1) {
			position: relative;
			align-items: flex-end;
			margin-bottom: 40px;
			
			@include media('<=xxxlg') {
				align-items: center;
			}
		
			&::before {
				display: block;
				content: '';
				position: absolute;
				right: 50px;
				top: calc(100% - 300px);
				z-index: -1;
				width: 760px;
				height: 470px;
				background: url('#{$images-path}section-bg-1.png') left top / auto no-repeat transparent;
			}
			
			#{$self}__side {
				max-width: 620px;
				
				@include media('<=xxxlg') {
					margin: 0;
				}
			}
		}

		&:nth-child(2) {
			position: relative;

			&::after {
				display: block;
				content: '';
				position: absolute;
				left: 180px;
				bottom: -180px;
				z-index: -1;
				width: 760px;
				height: 470px;
				background: url('#{$images-path}section-bg-1.png') left top / auto no-repeat transparent;
			}

			#{$self}__image {
				order: -1;
				transform: translateX(-33%);
					
				@include media('<=xxxlg') {
					transform: translateX(-10%);
				}
			}
			
			#{$self}__side {
				max-width: 820px;
				margin-left: -170px;
				
				@include media('<=xxxlg') {
					margin: 0;
				}
			}

			#{$self}__button {
				margin-bottom: 30px;
			}

			@include media('<=md') {
				margin-bottom: 50px;
			}
	
			@include media('<=sm') {
				margin-bottom: 30px;
			}
		}

		&:nth-child(3) {
			justify-content: space-between;

			#{$self}__side {
				max-width: 630px;
			}

			@include media('<=md') {
				margin-bottom: 50px;
			}
	
			@include media('<=sm') {
				margin-bottom: 30px;
			}
		}
	}

	&__side {

	}

	&__image {
		transform: translateX(33%);
				
		@include media('<=xxxlg') {
			transform: translateX(10%);
		}
				
		@include media('<=xxlg') {
			max-width: 650px;
			flex-shrink: 0;
		}
		
		@include media('<=xlg') {
			max-width: 550px;
		}
		
		@include media('<=lg') {
			max-width: 400px;
		}
		
		@include media('<=sm') {
			display: none;
		}
	}
}
