.header {
	$self: &;
	box-sizing: border-box;
	position: fixed;
	z-index: 2;
	width: 100%;
	transition: background-color 0.3s;
	background-color: #6D8F96;
	background-image: url('#{$images-path}header-bg.png');
	box-shadow: 0 4px 60px rgba(0, 0, 0, 0.2);
	background-position: center left;
	background-repeat: no-repeat;
	background-size: cover;

	@include media('<=xxxlg') {
		background-size: auto;
	}
	
	&_home {
		box-shadow: none;
		background-image: none;
		background-color: transparent;
	}
	
	&_filled#{&}_home {
		background-color: rgba(0, 0, 0, 0.65);
		box-shadow: 0 4px 60px rgba(0, 0, 0, 0.2);
	}
	
	&__inner {
		display: flex;
		min-height: 90px;
		align-items: center;
	}

	&__logo {
		margin-right: 75px;
		box-sizing: border-box;
		width: 140px;
		padding: 15px;
		flex-shrink: 0;

		@include media('<=lg') {
			margin: 0;
		}

		@include media('<=xxs') {
			width: 100px;
		}
		
		img {
			display: block;
			margin: 0 auto;
		}
	}
	
	&__navi {
		display: flex;
		align-items: center;
		font-family: "MSB", sans-serif;
		font-size: 15px;
		width: 100%;
		max-width: 650px;
		justify-content: space-between;
		margin-right: 50px;

		@include media('<=md') {
			display: none;
		}
	}

	&__navi-link {
		white-space: nowrap;
		padding: 10px;
		text-transform: uppercase;
		text-decoration: none;
		color: #fff;
	}

	&__menu-toggle {
		@extend %reset-button;
		flex-shrink: 0;
		margin: 0 20px 0 auto;
		font-family: "MSB", sans-serif;
		font-size: 15px;
		color: #fff;
		text-transform: uppercase;
		white-space: nowrap;
		padding: 15px 40px 15px 0;
		border-radius: 100px;
		width: 250px;
		transition: width 0.2s, background-color 0.2s;
		text-align: right;
		cursor: pointer;
		position: relative;
		z-index: 4;
		background: url('#{$images-path}icons-sprite.svg#icon-burger-view-white') center left 20px / 30px 17px no-repeat rgba(0, 0, 0, 0.5);

		@include media('<=xs') {
			padding: 13px 20px 13px 0;
			width: 210px;
			font-size: 14px;
			background-size: 22px 13px;
		}
		
		@include media('<=xxxs') {
			padding: 22px;
			background-size: 30px 17px;
			background-position: center !important;
			width: 70px !important;

			span {
				display: none !important;
			}
		}

		span:nth-child(1) {
			display: none;
		}

		&.opened {
			width: 170px;
			background: url('#{$images-path}icons-sprite.svg#icon-close-view-white') center left 50px / 15px 15px no-repeat #000;

			span:nth-child(1) {
				display: block;
			}
			
			span:nth-child(2) {
				display: none;
			}

			@include media('<=xs') {
				width: 120px;
				background-position:  center left 20px;
			}
		}
	}

	&__menu-blind {
		box-sizing: border-box;
		display: flex;
		flex-flow: column nowrap;
		position: fixed;
		height: 100vh;
		height: calc(var(--vh, 1vh) * 100);
		z-index: 3;
		right: -650px; top: 0;
		max-width: 650px;
		width: 100%;
		background: url('#{$images-path}menu-bg.png') center bottom / cover no-repeat #22415e;
		transition: right 0.4s ease-out;
		overflow: auto;
		
		&.opened {
			right: 0;
		}
	}

	&__menu {

	}
}